extends baseTemplate.pug

append headTag 
    link(rel="stylesheet", href="/css/index.css")


append content
    .projet 
        p Correcteur d'orthographe
        a(href='/correcteurOrthographe') Accéder au projet
    .projet 
        p Module JS de parallax
        a(href='/parallax') Accéder au projet